$main-color: #be81f7;

body {
    background-image: url("/img/back.jpg");
    background-size: cover;
    min-height: 100vh;
    main{
        width:100vw;
        max-width:980px;
        margin: auto;
    }
    .navbar{
        background-color: $main-color;
    }
    footer{
        background-color: $main-color;
        width: 100vw;
        padding:1rem;
    }

    .jumbotron{
        width:100%;
        padding: 1rem;
        filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0,0.6));
        background: $main-color;
        margin:2rem 0 1rem 0;
        border-radius: 0.5rem;
    }
}